<mat-form-field>
    <input type="text" matInput #searchInput [matAutocomplete]="auto">
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of options$ | async" [value]="option">{{option}}</mat-option>
</mat-autocomplete>
<button mat-raised-button (click)="search(searchInput.value)">
    <mat-icon>search</mat-icon>
</button>&nbsp;
<button *ngIf="searchContext.activeGameObject" mat-raised-button (click)="clear()">
    <mat-icon>clear</mat-icon>
</button>&nbsp;
<button *ngIf="searchContext.activeGameObject" mat-raised-button (click)="goto()">
    <mat-icon>send</mat-icon>
</button>&nbsp;
<a *ngIf="searchContext.showAR" mat-flat-button rel="ar" href="/assets/engine.usdz">
    <mat-icon>visibility</mat-icon>
</a>
